<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Library Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="books">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="login">
    <div *ngIf=" auth.user$ | async as user">


      <ul *ngFor="let key of filteredusers">


            <div class="box" *ngIf="user.libraryname == key.libraryname" routerLink="{{ key.uid }}" redirection="forward" align="left">

                <ion-label color="primary" text-warp><h2 style="color:white"><b>Name: {{ key.displayName }}</b></h2></ion-label>
                <ion-label color="primary" text-warp><h2 style="color:white"><b>Lib-Id: {{ key.libraryid }}</b></h2></ion-label>
                <div class="spacer" style="height: 5px;"></div>
                <hr>
            </div>



      </ul>
    </div>

    <!-- <ng-template #login>
      <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
    </ng-template> -->

  </div>
</div>
</ion-content>
