<ion-header>
  <ion-toolbar color="dark">
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container
  *ngIf="isLoggedIn$ | async; then loggedIn; else loggedOut">
</ng-container>

<ion-content>
  <div class="background" align="center">
  <div class="box">
        <h1 align="center" style="color: #02a2ba">
          Settings
          </h1>
          <ion-button routerLink="/tabs/about" color="primary" expand="block">
            <ion-icon name="information-circle"></ion-icon>About</ion-button>
          <ion-button expand="block" *ngIf="isLoggedIn$ | async" (click)="logOut()" color="danger"><ion-icon name="power"></ion-icon>LogOut</ion-button>
          </div>
  <p style="color:white" align="right">Current Ver:{{ isappver }}</p>
          </div>
</ion-content>
