
<ion-content>
<div class="background" align="center">
<div class="box">
      <h1 align="center" style="color: #f07524">
        Signup
        </h1>
          <ion-input type="email" placeholder="Email" [(ngModel)]="newuser.email"></ion-input>

          <ion-input type="password" placeholder="Password" [(ngModel)]="newuser.password"></ion-input>

          <ion-input type="text" placeholder="Username" [(ngModel)]="newuser.displayName"></ion-input>

          <ion-input type="text" placeholder="Library-Name" [(ngModel)]="newuser.libraryname" value="MEC"></ion-input>

          <ion-input type="text" placeholder="Library-Id" [(ngModel)]="newuser.libraryid"></ion-input>

          <ion-select type="User-Type" placeholder="usertype" [(ngModel)]="newuser.usertype" value="Client">
            <ion-select-option value="Client">Client</ion-select-option>
            <ion-select-option value="Librarian">Librarian</ion-select-option>
          </ion-select>
          <ion-input *ngIf="newuser.usertype == 'Librarian'" type="text" placeholder="Enter code" [(ngModel)]="code"></ion-input>
          <ion-input *ngIf="newuser.usertype == 'Librarian'" type="text" placeholder="librarianid" [(ngModel)]="newuser.librarianid"></ion-input>

        <div align="center" *ngIf="newuser.usertype == 'Client'">
          <ion-button block round outline color="success" (click)="joinUser()">Sign Up</ion-button>
          <ion-button full clear color="warning" (click)="goback()">Go Back</ion-button>
        </div>
        <div align="center" *ngIf="newuser.usertype == 'Librarian'">
          <ion-button *ngIf="code == '#lib@libreo'"block round outline color="success" (click)="joinUser()">Sign Up</ion-button>
          <h2 *ngIf="code != '#lib@libreo'" style="color:red">Code entered wrong</h2>
          <ion-button full clear color="warning" (click)="goback()">Go Back</ion-button>
        </div>
        </div>

        </div>
</ion-content>
