<ion-header>
  <ion-toolbar color="dark">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<div align="center" class="about">
  <h1 class="welcome" style="color:white"><b>Welcome to Libreo</b></h1><br>
  <p style="color:white">Libreo is a library management app that will make the use of your library experience easy</p>
  <p style="color:white">Currently its in devolopment phase</p>
  <p style="color:white">Please wait for ver 1.2.1 to be released</p>
  <p style="color:white">Current Ver:{{ isappver }}</p>

  <ion-button (click)="check_update()">Check Update</ion-button>
</div>
