
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background" align="center">
  <div class="box">
        <!-- <h1 align="center" style="color: #02a2ba">
          Requests
          </h1> -->
          <ion-button routerLink="/tabs/borrow-req" color="success" expand="block">
            <ion-icon name="list-box"></ion-icon>Borrow-Requests
          </ion-button>
          <ion-button routerLink="/tabs/returnrequest" color="secondary" expand="block">
            <ion-icon name="list-box"></ion-icon>Return-Requests
          </ion-button>
          <ion-button routerLink="/tabs/newuser" color="primary" expand="block">
            <ion-icon name="people"></ion-icon>NewUser-Requests
          </ion-button>
          </div>
        </div>
</ion-content>
