.termsandcondition{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url("home.jpg") no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
