<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms And Condtion</ion-title>
  </ion-toolbar>
</ion-header>

<div align="center" class="termsandcondition">
  <h1 class="welcome" style="color:white"><b>Libreo</b></h1><br>
  <p style="color:white">Libreo is a library management app that will make the use of your library experience easy</p>
  <p style="color:white">Currently its in devolopment phase</p>
  <p style="color:white">Please wait for ver 1.2.1 to be released</p>
</div>
